ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

h1,
h2,
h3, 
h4,
h4,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    color: #434455;
}

.container{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width:768px){
    .container{
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


/* ========== HEADER =========== */
.menu{
    display: none;
}

.address-page{
    display: none;
}

.page-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-top {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    position: relative;
    color: #404bbf;
}

.text-black {
    color: #2e2f42;
}

.social-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 48px;
}
 
.sociall-list-link {
    height: 100%;

    display: block;
    line-height: 0;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}

.sociall-list-link:hover,
.sociall-list-link:focus {
    background-color: #31d0aa;
}

.social-list-item:hover {
    box-shadow: px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-list-item {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 767px) {
    .header-page {
            padding-top: 16px;
            padding-bottom: 16px;
        }

    .mobile-open-button {
            border: none;
            background-color: transparent;
            fill: #2f2f37;
            padding: 0;
        }
    
        .mobile-menu-container {
            position: relative;
            padding-top: 72px;
            padding-bottom: 40px;
        }
    
        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99999999;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            color: #2e2f42;
            overflow-y: auto;
    
            transform: translateX(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu.is-open {
            transform: translateX(0%);
        }
    
        .mobile-menu-close-btn {
            position: absolute;
            top: 16px;
            right: 16px;
            border: none;
            background-color: transparent;
            padding: 0;
            border-radius: 100%;
            fill: #2e2f42;
            stroke-width: 1px;
            background-color: #e7e9fc;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
    
        }
    
        .mobile-menu-item {
            margin-bottom: 40px;
        }
    
        .mobile-menu-link {
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
    
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: #2e2f42;
        }
    
        .mobile-menu-link:hover,
        .mobile-menu-link:focus {
            color: #404bbf;
        }
    
        .menu-address-page {
            margin-top: 168px;
        }
    
        .menu-contact {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #434455;
        }
    
        .menu-contact:hover,
        .menu-contact:focus {
            color: #404bbf;
        }
    
        .menu-address-page {
            font-style: normal;
        }
    
        .menu-address-link {
            margin-bottom: 24px;
        }
}

@media screen and (min-width: 768px) {
    .mobile-open-button{
        display: none;
    }

    .mobile-menu{
        display: none;
    }

.menu {
    display: flex;
}

.nav-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    column-gap: 122px;
}

.logo-top{
    margin-right: 120px;
}

.address-page {
    display: flex;
}

.menu {
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404bbf;

}

.menu-linkk {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-color {
    color: #2e2f42;
}

.menu-linkk::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}


.address-page{
    font-style: normal;
}

.address-list{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    
}

.contact{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:not(:last-child){
   margin-right: 40px;
}

.contact{
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    padding-bottom: 12px;
}

.contact:hover,
.contact:focus{
    color: #404bbf;
}
}

@media screen and (min-width: 1440px){
    .contact{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .address-list{
        padding-top: 24px;
        flex-direction: row;
    }

    .logo-top{
        margin-right: 40px;
    }
}


/* =============== HERO =============== */
.hero-page {
    background: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

@media screen and (min-resolution: 192dpi) {
    .hero-page{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url('../images/retina/people-office-tablet.jpg');
    }
}

.hero-txt {
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.butt {
    background: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: #ffffff;
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.butt:hover,
.butt:focus {
    background: #404bbf;
}

@media screen and (max-width: 767px){
    .hero-page {
        max-width: 375px;
        min-height: 432px;
        padding: 96px 0;
        margin-bottom: 96px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url('../images/retina/people-office-mobile.jpg');
    }
        

    .hero-txt{
        font-size: 36px;
        line-height: 1.11;
        margin: 0 52px 72px 52px;
    }
}

@media screen and (min-width: 768px){
    .hero-page {
        background: #2e2f42;
        max-width: 768px;
        min-height: 436;
        padding: 96px 0;
        margin-bottom: 96px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/retina/people-office-tablet.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover
    }

    .hero-txt {
        font-size:56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-page{
        max-width: 1440px;
        min-height: 600px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/people-office.jpg');
    }

    .hero-txt {
        font-size:56px;
        line-height: 1.07;
        margin-bottom: 48px;
    }
}

/* ================= BENEFITS ================ */

.head-benefits {
    font-weight: 700px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (max-width: 767px){

    .rew{
        padding-bottom: 96px;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

.benefits-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 auto;
}

.benefits-list-item:not(:last-child){
    margin-bottom: 72px;
}

.head-benefits{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42
}

}

@media screen and (min-width: 768px){
    .benefits-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        align-items: stretch;
        max-width: 736px;
        flex-wrap: wrap;
        gap: 24px;

        padding-bottom: 96px;
        
        
    }

    .benefits-list-item{
        width: 356px;
    }

        .head-benefits {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
        }
}

@media screen and (min-width: 1440px) {
    .rew {
            padding: 120px 0;
        }
    
        .benefits-list-item {
            width: calc((100% - 72px) / 4);
        }
    
        .logo-background {
            background: #f4f4fd;
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .logo-icon {
            margin: 24px 100px;
        }

        .benefits-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
   
}

}


/* ============= OUR TEAM ================= */

.team-page {
    background: #f4f4fd;
    
}

.team-list {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-head{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-proff {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-list-itemm {
    width: 40px;
    height: 40px;
}

.link-team {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-margin {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name-block {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px){
    .team-page{
        padding-top: 96px;
    }
    
    .team-list{
        margin-bottom: 72px;
        width: 264px;
        height: 428px;
    }

    .our-team-list{
        padding-bottom: 96px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
}

@media screen and (min-width: 768px){
    .team-page{
        padding-top: 96px;
        padding-bottom: 96px;
    }

        .our-team-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 64px;
            row-gap: 24px;
            justify-content: center;
        }
            

    .team-list{
        width: 264px;
        height: 428px;
        width: calc((100%-1*24px)/2);
    }
        
}


@media screen and (min-width: 1440px){
    .our-team-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            gap: 24px;
        }
    
        .team-list {
            width: calc((100% - 72px) / 4);
            background-color: #ffffff;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        }
}

/* =============== PORTFOLIO ============= */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
}

.portf-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portf-title {
    margin-bottom: 72px;
}

.names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.apps-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (max-width: 767px){

    .portf {
        padding-top: 96px;
        padding-bottom: 96px;
    }

         .portfolio-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

    .portfolio-list-item{
        width: 288px;
        height: 400px;
    }

        .portfolio-list-item:not(:last-child){
            margin-bottom: 48px;
        }
    

        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
}

@media screen and (min-width: 768px){
    .portf{
        padding-top: 77px;
        padding-bottom: 115px;
    }

    .portfolio-list{
        display: flex;
            flex-wrap: wrap;
            column-gap: 72px;
            row-gap: 24px;
            justify-content: center;
        
    }

    .portfolio-list-item{
        width: calc((100%-1*24px)/2);
    }
    
}

@media screen and (min-width: 1440px){
    .portfolio-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
            justify-content: center;
        }
    
    .portfolio-list-item {
            width: calc((100% - 48px) / 3);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .portfolio-list-item:hover {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        }
    
    .portfolio-list-item:hover .overlay-text {
            transform: translateY(0%);
        }
    
        .overlay-p {
            position: relative;
            overflow: hidden;
        }
    
        .overlay-text {
            position: absolute;
            top: 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            padding: 40px 32px;
            background-color: #4d5ae5;
            height: 100%;
            width: 100%;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateY(100%);
        }
}

/* =============== FOOTER ============== */

.footer-page {
    background: #2e2f42;
}

.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.span-white {
    color: #f4f4fd;
}

.footer-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.social-head {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.subscribe-txt {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
    margin-right: 24px;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background: #404bbf;
    border: none;
}

.subscribe-icon {
    margin-left: 16px;
}

@media screen and (max-width: 767px){
    .footer-page {
            padding-top: 96px;
            padding-bottom: 96px;
        }

    .logo-bottom{
        text-align: center;
    }

    .margins{
        margin-bottom: 72px;
    }

    .social-container{
        margin-bottom: 72px;
    }

    .social-head{
        text-align: center;
    }

    .subscribe-txt{
        text-align: center;
    }

    .subscribe-input{
        margin-bottom: 16px;
    }

    .subscribe-button{
        align-items: center;
    }

       
}

@media screen and (min-width: 768px){
   .foot-container{
    margin: 0 auto;
   }
   
    .footer-page{
    padding-top: 96px;
    padding-bottom: 96px;
}

.web-and-icons{
    display: flex;
    margin-bottom: 72px;
}

.margins{
    margin-right: 24px;
}

.subscribe-form{
    display: flex;
}

}


@media screen and (min-width: 1440px){
    .footer-page {
            background: #2e2f42;
            padding-top: 100px;
            padding-bottom: 100px;
        }
    
        .foot-container {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
    
            align-items: baseline;
            margin-right: 120px;
        }

        .social-container{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.margins{
    margin-right: 120px;
}

.social-list{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}


}